//Secuencia de comandos de recursos generada en Microsoft Visual C++.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Generado a partir del recurso TEXTINCLUDE 2.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ESN)
LANGUAGE 10, 3
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Icono
//

// Icono con el valor de id. menor colocado en primer lugar para garantizar que el icono de la aplicación
// es el mismo en todos los sistemas.

IDI_CONNECTSERVER       ICON         "ConnectServer.ico"
IDI_SMALL               ICON         "small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menú
//

IDC_CONNECTSERVER MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",               IDM_EXIT
    END
	POPUP "&Reload"
	BEGIN
		MENUITEM "&Server List",		IDM_SLIST
		MENUITEM "&Black List",			IDM_BLIST
		MENUITEM "&Update Config",		IDM_ULIST
	END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",           IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Acelerador
//

IDC_CONNECTSERVER ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END


/////////////////////////////////////////////////////////////////////////////
//
// Cuadro de diálogo
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About ConnectServer"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,21,20
    LTEXT           "TITAN ConnectServer, version 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright TITANSTECH(C) 2011",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "Ok",IDOK,113,41,50,14,WS_GROUP
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
	"#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Tabla de cadenas
//

STRINGTABLE
BEGIN
   IDC_CONNECTSERVER   "TITAN CONNECTSERVER"
   IDS_APP_TITLE       "Titan ConnectServer"
END

#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generado a partir del recurso TEXTINCLUDE 3.
//

/////////////////////////////////////////////////////////////////////////////
#endif    // No APSTUDIO_INVOKED
